# Central store etcd port
etcd_port: 2379
# Central store etcd host/ip
etcd_connection: 0.0.0.0
# Path for tendrl-utility execution using ansible modules.
# Tendrl uses ansible modules for some tasks like service-management,
# package installation etc. Ansible provides executable scripts for this,
# these scripts will be run from the path below.
tendrl_exe_file_prefix: $HOME/.tendrl/util_runner_
# The log path for ceph-integration
log_cfg_path: /etc/tendrl/ceph-itegration/ceph-itegration_logging.yaml
# The log level for ceph-integration
log_level: DEBUG
crush_host_type: host
crush_osd_type: osd
favorite_timeout_factor: 3
server_timeout_factor: 3
cluster_contact_threshold: 60
cluster_map_retention: 3600
